.animal-card {
    border: 1px solid gray;
    padding: 10px;
    width: 310px;
    -webkit-box-shadow: 10px 10px 5px 0px gray;
    -moz-box-shadow: 10px 10px 5px 0px gray;
    box-shadow: 10px 10px 5px 0px gray;
}

.animal-card>img {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
}

.animal-card-content {
    border: 1px solid gray;
    padding: 6px;
    text-align: left;
}

.animal-card-content>p:nth-child(1) {
    font-style: italic;
}

.animal-card ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.animal-card-content li {
    list-style: none;
}

.animal-card-content>ul>li>span {
    font-weight: bold;
}